Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn docs:build --git, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/docs/**": ["yarn docs:build --git"],
  "src/docs.mts": ["yarn docs:build --git"],
  "*.{ts,js,json,html,md,mts}": ["eslint --fix", "prettier --write"]
}

Revert "WIP: Fix docs:verify in CI"
  docs/index.html
  src/docs/classDiagram.md
Due: yarn docs:build --git, eslint --fix, prettier --write

This should fail CI
  docs/faq.md
  docs/index.html
Due: eslint --fix, prettier --write

Revert #3475
  docs/classDiagram.md
  docs/gitgraph.md
  docs/index.html
Due: eslint --fix, prettier --write

Add verification log
  docs/classDiagram.md
  docs/faq.md
  docs/gitgraph.md
  docs/index.html
  src/docs.mts
Due: yarn docs:build --git, eslint --fix, prettier --write

Remove `docs:build` from postbuild.
  package.json
Due: eslint --fix, prettier --write

Fix jest
  jest.config.cjs
  src/jison/transformer.cjs
Due: none

unify Jison tranformers
  src/jison/transformer.cjs
Due: none

Hope this fails
  docs/CHANGELOG.md
Due: eslint --fix, prettier --write

fix(docs): `mmd` detection
  docs/8.6.0_docs.md
  docs/CHANGELOG.md
  docs/README.md
  docs/classDiagram.md
  docs/diagrams-and-syntax-and-examples/flowchart.md
  docs/entityRelationshipDiagram.md
  docs/flowchart.md
  docs/gantt.md
  docs/sequenceDiagram.md
  docs/stateDiagram.md
  docs/theming.md
  src/docs.mts
Due: yarn docs:build --git, eslint --fix, prettier --write

update diagrams to use new markers
  demos/1871-requirement.html
  src/diagrams/c4/svgDraw.js
  src/diagrams/class/svgDraw.js
  src/diagrams/er/erRenderer.js
  src/diagrams/requirement/requirementRenderer.js
  src/diagrams/sequence/sequenceRenderer.ts
Due: eslint --fix, prettier --write

fix(test): No esm exports
  .esbuild/jisonTransformer.cjs
  src/jison/transformer.cjs
  yarn.lock
Due: none

Revert "fix(test): No esm exports"
  .esbuild/jisonTransformer.cjs
  src/jison/transformer.cjs
  yarn.lock
Due: none

clean up demos
  demos/1871-3433.html
  demos/1871-c4.html
  demos/1871-class-v2.html
  demos/1871-class.html
  demos/1871-er.html
  demos/1871-flowchart.html
  demos/1871-gantt.html
  demos/1871-graph.html
  demos/1871-journey.html
  demos/1871-requirement.html
  demos/1871-sequence.html
  demos/1871-state-v2.html
  demos/1871-state.html
  demos/foo.html
  demos/foo2.html
Due: eslint --fix, prettier --write

Merge vitest
  .eslintignore
  .prettierignore
  __mocks__/MERMAID.js
  __mocks__/d3.ts
  __mocks__/dagre-d3.ts
  __mocks__/entity-decode/browser.ts
  jest.config.cjs
  package.json
  src/__mocks__/entity-decode/browser.js
  src/__mocks__/mermaidAPI.ts
  src/diagrams/class/classDiagram.spec.js
  src/diagrams/flowchart/flowRenderer.addEdges.spec.js
  src/diagrams/flowchart/parser/flow-interactions.spec.js
  src/diagrams/flowchart/parser/flow-text.spec.js
  src/diagrams/flowchart/parser/subgraph.spec.js
  src/diagrams/gantt/ganttDb.spec.ts
  src/diagrams/gantt/parser/gantt.spec.js
  src/diagrams/sequence/sequenceDiagram.spec.js
  src/diagrams/state/stateDiagram.spec.js
  src/diagrams/user-journey/journeyDb.spec.js
  src/mermaid.spec.ts
  src/tests/setup.ts
  src/tests/util.ts
  src/utils.spec.js
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Merge vitest & esbuild
  package.json
  vite.config.cts
  yarn.lock
Due: eslint --fix, prettier --write

Cleanup
  .esbuild/jisonTransformer.js
  src/jison/transformer.cjs
Due: eslint --fix, prettier --write

clean up demos
  demos/1871-c4.html
  demos/1871-class-v2.html
  demos/1871-class.html
  demos/1871-er.html
  demos/1871-flowchart.html
  demos/1871-gantt.html
  demos/1871-graph.html
  demos/1871-journey.html
  demos/1871-requirement.html
  demos/1871-sequence.html
  demos/1871-state-v2.html
Due: eslint --fix, prettier --write

vite Server
  .esbuild/jison.js
  .vite/server.mjs
  demos/er.html
  vite.config.cts
  vite.config.js
Due: eslint --fix, prettier --write

fix markers on state diagrams
  src/dagre-wrapper/edges.js
  src/dagre-wrapper/markers.js
  src/diagrams/state/stateRenderer.js
  src/diagrams/state/styles.js
  src/markers.ts
Due: eslint --fix, prettier --write

fix markers on state diagrams
  demos/1871-state-v2.html
  demos/1871-state.html
  src/diagrams/state/shapes.js
  src/diagrams/state/stateRenderer.js
  src/markers.ts
Due: eslint --fix, prettier --write

start marker unit tests
  src/markers.spec.js
  src/markers.ts
Due: eslint --fix, prettier --write

extract absoluteUrl
  src/markers.spec.js
  src/markers.ts
Due: eslint --fix, prettier --write

use setSiteConfig
  src/markers.spec.js
  src/markers.ts
Due: eslint --fix, prettier --write

extract isAbsoluteUrl
  src/markers.ts
Due: eslint --fix, prettier --write

cleanup
  src/markers.spec.js
  src/markers.ts
Due: eslint --fix, prettier --write

vite
  .vite/server.mjs
  vite.config.cts
  yarn.lock
Due: none

Update yarn.lock
  yarn.lock
Due: none

Revert "unify Jison tranformers"
  src/jison/transformer.cjs
Due: none

Parallel e2e
  .github/workflows/e2e.yml
  cypress.config.js
Due: eslint --fix, prettier --write

Remove build
  .github/workflows/e2e.yml
Due: none

CI Concurrency 4
  .github/workflows/e2e.yml
Due: none

fix(docs): update link
  docs/integrations.md
Due: eslint --fix, prettier --write

add lcov
  vite.config.ts
Due: eslint --fix, prettier --write

vite -> cts
  vite.config.cts
Due: none

Auto stash before merge of "develop" and "origin/develop"
  docs/index.html
Due: eslint --fix, prettier --write

Temp removaof some hursky rules etc for the build
  package.json
  packages/mermaid-mindmap/.esbuild/util.cjs
  packages/mermaid-mindmap/package.json
  packages/mermaid-mindmap/src/mindamapDetector.ts
  packages/mermaid-mindmap/src/mindmapDb.js
  packages/mermaid-mindmap/src/mindmapDetector.ts
  packages/mermaid-mindmap/src/registry.ts
  packages/mermaid-mindmap/tsconfig.json
  packages/mermaid-mindmap/yarn.lock
  todo-fix-root-level-tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Fix docs
  docs/index.html
Due: eslint --fix, prettier --write

wip: esbuild Package
  .esbuild/esbuild.cjs
  .esbuild/util.cjs
  packages/mermaid/tsconfig.json
  tsconfig.json
Due: eslint --fix, prettier --write
