Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn docs:build --git, eslint --fix, prettier --write, yarn lint:jison

.lintstagedrc.json:

{
  "src/docs/**": ["yarn docs:build --git"],
  "*.{ts,js,json,html,md}": ["eslint --fix", "prettier --write"],
  "*.jison": ["yarn lint:jison"]
}

Fix docs
  docs/Setup.md
  docs/index.html
  src/docs/Setup.md
  src/docs/index.html
Due: yarn docs:build --git, eslint --fix, prettier --write

cleanup
  src/utils.ts
Due: eslint --fix, prettier --write

Fix lint
  vite.config.ts
Due: eslint --fix, prettier --write

Fix lint
  .eslintignore
  .prettierignore
  __mocks__/d3.ts
  src/diagrams/gantt/ganttDb.spec.ts
Due: eslint --fix, prettier --write

Cleanup docs
  docs/index.html
Due: eslint --fix, prettier --write

Test docs:verify
  src/docs/classDiagram.md
Due: yarn docs:build --git, eslint --fix, prettier --write

use viewport id to make markers unique on the page
  demos/foo.html
  demos/foo1.html
  demos/foo2.html
  src/dagre-wrapper/edges.js
  src/dagre-wrapper/markers.js
Due: eslint --fix, prettier --write

cleanup demo files
  cypress/downloads/downloads.html
  demos/foo.html
  demos/foo1.html
  demos/foo2.html
Due: eslint --fix, prettier --write

Add vitepress pluin
  docs/integrations.md
Due: eslint --fix, prettier --write

examples of theme variables for #1871
  demos/foo.html
  demos/foo1-3433.html
  demos/foo1-class.html
  demos/foo1-flowchart.html
  demos/foo1-state-v2.html
  demos/foo1-state.html
Due: eslint --fix, prettier --write

Update integrations.md
  src/docs/integrations.md
Due: yarn docs:build --git, eslint --fix, prettier --write

ci(e2e-applitols): add applitools CI action
  .github/workflows/e2e-applitools.yml
Due: none

feat(git): cherry-pick keyword supports tag attribute
  cypress/integration/rendering/gitGraph.spec.js
  docs/gitgraph.md
  src/diagrams/git/gitGraphAst.js
  src/diagrams/git/parser/gitGraph.jison
Due: eslint --fix, prettier --write, yarn lint:jison

test(git): add basic parsing test for cherry-pick
  src/diagrams/git/gitGraphParserV2.spec.js
Due: eslint --fix, prettier --write

fix(git): fix cherry-pick regex parsing error
  src/diagrams/git/parser/gitGraph.jison
Due: yarn lint:jison

Update src/diagrams/git/parser/gitGraph.jison
  src/diagrams/git/parser/gitGraph.jison
Due: yarn lint:jison

feat(git): allow cherry-pick to suppress tag altogether
  cypress/integration/rendering/gitGraph.spec.js
  docs/gitgraph.md
  src/diagrams/git/gitGraphAst.js
  src/diagrams/git/parser/gitGraph.jison
Due: eslint --fix, prettier --write, yarn lint:jison

Use undefined to mean default tagging behavior
  src/diagrams/git/gitGraphAst.js
  src/diagrams/git/parser/gitGraph.jison
Due: eslint --fix, prettier --write, yarn lint:jison

Support EMPTYSTR in jison parser, add unit tests for git graph parser
  src/diagrams/git/gitGraphParserV2.spec.js
  src/diagrams/git/parser/gitGraph.jison
Due: eslint --fix, prettier --write, yarn lint:jison

chore: update browsers list
  yarn.lock
Due: none

fix jison generation
  .esbuild/jison.js
  .esbuild/jisonTransformer.js
  .esbuild/util.cjs
  jison.js
  vite.config.js
Due: eslint --fix, prettier --write

#3409 Fixed the truncated tags issue
  cypress/platform/gitgraph.html
  src/diagrams/git/gitGraphRenderer.js
Due: eslint --fix, prettier --write

Fixed Linting issues
  cypress/platform/gitgraph.html
  src/diagrams/git/gitGraphRenderer.js
Due: eslint --fix, prettier --write

add demo pages for each diagram (test 1871)
  demos/1871-3433.html
  demos/1871-c4.html
  demos/1871-class-v2.html
  demos/1871-class.html
  demos/1871-er.html
  demos/1871-flowchart.html
  demos/1871-gantt.html
  demos/1871-graph.html
  demos/1871-sequence.html
  demos/1871-state-v2.html
  demos/1871-state.html
  demos/foo.html
  demos/foo2.html
  package.json
Due: eslint --fix, prettier --write

get marker ids working
  demos/1871-graph.html
  src/dagre-wrapper/edges.js
  src/dagre-wrapper/markers.js
  src/dagre-wrapper/markers.spec.js
Due: eslint --fix, prettier --write

add all class markers to demo
  demos/1871-class.html
Due: eslint --fix, prettier --write

cleanup
  src/dagre-wrapper/edges.js
  src/dagre-wrapper/markers.js
Due: eslint --fix, prettier --write

move svgNode() to utils.ts
  src/dagre-wrapper/markers.js
  src/utils.ts
Due: eslint --fix, prettier --write

fix marker styling on journey diagram
  demos/1871-journey.html
  src/dagre-wrapper/edges.js
  src/dagre-wrapper/markers.js
  src/diagrams/user-journey/journeyRenderer.js
  src/diagrams/user-journey/svgDraw.js
  src/utils.ts
Due: eslint --fix, prettier --write

fix marker styling on journey diagram
  demos/1871-journey.html
  src/diagrams/user-journey/svgDraw.js
Due: eslint --fix, prettier --write

extracted appendMarker()
  src/diagrams/user-journey/svgDraw.js
  src/utils.ts
Due: eslint --fix, prettier --write

extract markers.ts
  src/dagre-wrapper/edges.js
  src/dagre-wrapper/markers.js
  src/diagrams/user-journey/journeyRenderer.ts
  src/diagrams/user-journey/svgDraw.js
  src/markers.ts
  src/utils.ts
Due: eslint --fix, prettier --write

Add `type: module` to package.json
  .esbuild/jisonTransformer.cjs
  .esbuild/util.cjs
  package.json
Due: eslint --fix, prettier --write

fix typescript issues
  src/markers.ts
  src/utils.ts
Due: eslint --fix, prettier --write

use insertMarkers()
  demos/1871-class.html
  src/dagre-wrapper/markers.js
  src/dagre-wrapper/patterns.js
  src/diagrams/c4/svgDraw.js
  src/diagrams/class/classRenderer.js
  src/diagrams/er/erMarkers.js
  src/diagrams/flowchart/flowRenderer.js
  src/diagrams/requirement/requirementMarkers.js
  src/diagrams/sequence/svgDraw.js
  src/diagrams/state/stateRenderer.js
Due: eslint --fix, prettier --write

Revert "Add diagramAPI to outfile"
  .esbuild/serve.cjs
  .esbuild/util.cjs
Due: none

fix: imports in HTML
  .esbuild/serve.cjs
  cypress.config.cjs
  cypress/platform/e2e.html
  cypress/platform/viewer.js
  cypress/platform/webpackUsage.html
  cypress/platform/xss.html
Due: eslint --fix, prettier --write
