Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn docs:build --git, eslint --fix, prettier --write

Detector registering itself on load
  .vite/build.ts
  cypress/platform/knsv.html
  cypress/platform/knsv2.html
  package.json
  packages/mermaid-mindmap-detector/package.json
  packages/mermaid-mindmap-detector/src/mindmapDetector.ts
  packages/mermaid-mindmap-detector/src/registry.ts
  packages/mermaid-mindmap-detector/tsconfig.json
  packages/mermaid-mindmap/src/diagram.ts
  packages/mermaid-mindmap/src/registry.ts
  packages/mermaid-mindmap/src/types/index.d.ts
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

cleanup
  jest.config.js
  src/bypassEsmChecks
  src/markers.ts
  src/restoreEsmChecks
Due: eslint --fix, prettier --write

define ENTITY_NAME that allows some non-alphanumeric chars; spec re-arrange
  src/diagrams/er/parser/erDiagram.jison
  src/diagrams/er/parser/erDiagram.spec.js
Due: eslint --fix, prettier --write

add ts-ignore for jison in vite.config.cts
  vite.config.cts
Due: none

docs: build working
  package.json
  vdocs/.vitepress/config.ts
  vdocs/.vitepress/mermaid-markdown-all.ts
  vdocs/.vitepress/theme/custom.css
  vdocs/.vitepress/theme/index.ts
  vdocs/syntax/flowchart.md
  vdocs/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: fix Original Setup
  src/docs/Setup.md
Due: yarn docs:build --git, eslint --fix, prettier --write

er jison: allow more chars in Entity name; clean up spec
  src/diagrams/er/parser/erDiagram.jison
  src/diagrams/er/parser/erDiagram.spec.js
Due: eslint --fix, prettier --write

add uuid; graph node ids can no longer be based on entity names; make unique id
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

(minor) fix ==; remove unused imports; fix typos; add comments
  src/diagrams/er/erRenderer.js
Due: eslint --fix, prettier --write

store and reference entity by unique id, not name (elements, graph, etc.)
  src/diagrams/er/erRenderer.js
Due: eslint --fix, prettier --write

change demo ER diagram to include attributes, names with various chars
  demos/er.html
Due: eslint --fix, prettier --write

yarn install after merge with upstream/develop
  yarn.lock
Due: none

er demo: clarify comment about name
  demos/er.html
Due: eslint --fix, prettier --write

a few more wee changes to the ER demo
  demos/er.html
Due: eslint --fix, prettier --write

docs: added the fixed search again
  docs/n00b-syntaxReference.md
  package.json
  vdocs/.vitepress/theme/custom.css
  vdocs/.vitepress/theme/index.ts
  vdocs/config/theming.md
  vdocs/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

docs: added edit and team page
  vdocs/.vitepress/config.ts
  vdocs/index.md
Due: eslint --fix, prettier --write

docs: no footer
  vdocs/.vitepress/config.ts
Due: eslint --fix, prettier --write

test: fix unit tests in new mono-repo
  vite.config.ts
Due: eslint --fix, prettier --write

build: set "packageManager" to `pnpm@7.12.2`
  package.json
Due: eslint --fix, prettier --write

style: ignore pnpm-lock.yaml from prettier
  .prettierignore
Due: none

ci(e2e): fix e2e tests CI to use pnpm
  .github/workflows/e2e.yml
Due: none

chore: update pnpm-lock.yaml lockfile
  pnpm-lock.yaml
Due: none

build(docs): fix docs:build command for mono-repo
  package.json
Due: eslint --fix, prettier --write

ci(lint): fix lint tests CI to use pnpm
  .github/workflows/lint.yml
  package.json
Due: eslint --fix, prettier --write

ci(unit): fix unit tests CI to use pnpm
  .github/workflows/test.yml
Due: none

ci(build): fix build CI to use pnpm
  .github/workflows/build.yml
Due: none

ci(e2e-applitools): fix applitools CI to use pnpm
  .github/workflows/e2e-applitools.yml
Due: none

ci(e2e): fix e2e action when running from fork
  .github/workflows/e2e.yml
Due: none

Commiton issue #3061 Injecting mermaid utilities in registered diagram
  .vite/build.ts
  cypress/platform/knsv2.html
  packages/mermaid-mindmap-detector/src/registry.ts
  packages/mermaid-mindmap/src/diagram.ts
  packages/mermaid-mindmap/src/mermaidUtils.ts
  packages/mermaid-mindmap/src/mindmapDb.js
  packages/mermaid-mindmap/src/mindmapRenderer.js
  packages/mermaid-mindmap/src/registry.ts
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/diagram-api/diagramAPI.ts
  packages/mermaid/src/mermaid.ts
  packages/mermaid/src/utils.ts
  packages/rm-mermaid-mindmap-detector/package.json
  packages/rm-mermaid-mindmap-detector/src/mindmapDetector.ts
  packages/rm-mermaid-mindmap-detector/tsconfig.json
Due: eslint --fix, prettier --write

Deoupling, inecting mermaid utilities in external diagram
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/diagram-api/diagramAPI.spec.ts
  packages/mermaid/src/diagrams/sequence/sequenceDiagram.spec.js
Due: eslint --fix, prettier --write

#3061 Fixing unit tests
  .vite/build.ts
  package.json
  packages/mermaid-mindmap/src/mindmap.spec.js
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/diagram-api/detectType.ts
  packages/mermaid/src/diagram-api/diagram-orchestration.ts
  packages/mermaid/src/diagram-api/diagramAPI.ts
  packages/mermaid/src/diagrams/sequence/sequenceDiagram.spec.js
  packages/mermaid/src/mermaid.spec.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update browsers list
  yarn.lock
Due: none

#3061 Log handing and other fixes, error handling in diagram creation
  .vite/build.ts
  cypress/platform/knsv2.html
  package.json
  packages/mermaid-mindmap/src/mermaidUtils.ts
  packages/mermaid-mindmap/src/mindmapDb.js
  packages/mermaid-mindmap/src/mindmapRenderer.js
  packages/mermaid-mindmap/src/parser/mindmap.jison
  packages/mermaid-mindmap/src/registry.ts
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

#3061 Lazy loading auto derived path
  .vite/build.ts
  cypress/platform/knsv2.html
  packages/mermaid-mindmap/src/add-diagram.ts
  packages/mermaid-mindmap/src/diagram.ts
  packages/mermaid-mindmap/src/mindmapDetector.ts
  packages/mermaid-mindmap/src/registry.ts
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/dagre-wrapper/mermaid-graphlib.js
  packages/mermaid/src/diagram-api/detectType.ts
  packages/mermaid/src/diagram-api/diagram-orchestration.ts
  packages/mermaid/src/diagram-api/diagramAPI.spec.ts
  packages/mermaid/src/diagram-api/diagramAPI.ts
  packages/mermaid/src/mermaid.ts
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

new page for git charts
  demos/git.html
Due: eslint --fix, prettier --write

new page for context charts
  demos/c4context.html
Due: eslint --fix, prettier --write

new page for pie charts
  demos/pie.html
Due: eslint --fix, prettier --write

move charts to their pages; index page just a list to them
  demos/classchart.html
  demos/dataflowchart.html
  demos/er.html
  demos/flowchart.html
  demos/gantt.html
  demos/index.html
  demos/journey.html
  demos/requirements.html
  demos/sequence.html
  demos/state.html
Due: eslint --fix, prettier --write

Add support for hyphens in participant names
  src/diagrams/sequence/parser/sequenceDiagram.jison
  src/diagrams/sequence/sequenceDiagram.spec.js
Due: eslint --fix, prettier --write

Path conditions:
  yarn docs:build --git: (any of: src/docs/**) or (any of: src/docs.mts)
  eslint --fix: any of: *.{ts,js,json,html,md,mts}
  prettier --write: any of: *.{ts,js,json,html,md,mts}
